html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.table {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.row {
  display: flex;
  flex-direction: row;
}

.row:not(:last-child) {
  border-bottom: 1px solid black;
}

.column {
  width: 15px;
  padding: 40px;
  min-height: 40px;
  font-size: 32px;
  font-weight: bold;
}

.column:not(:last-child) {
  border-right: 1px solid black;
}
